In [1]:
import pandas as pd 
import numpy as np 
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LinearRegression

In [2]:
#df features 
df_features = pd.read_csv('/Users/arasdirekoglu/Documents/Github/Fault-Detection-SECOM-2/secom.data', delimiter=' ', header=None, na_values=['NaN'])
df_features.columns = ['feature'+str(x+1) for x in range(len(df_features.columns))] 

#df target 
df_target = pd.read_csv('/Users/arasdirekoglu/Documents/Github/Fault-Detection-SECOM-2/secom_labels.data', delimiter= ' ', header=None, na_values={'NaN'})
df_target.columns = ['status', 'timestamp']
df_target['timestamp'] = pd.to_datetime(df_target['timestamp'], dayfirst=True)

#concat both to df
df = pd.concat([df_features, df_target], axis=1)

Attempt MICE Imputation

In [3]:
#Number of Missing Values BEFORE MICE Imputation
df_features.isna().any(axis=1).sum()

1567

In [ ]:
#MICE imputation
imp = IterativeImputer(max_iter= 10,  verbose=2, imputation_order='roman', random_state=0)
df_mice = pd.DataFrame(imp.fit_transform(df_features), columns=df_features.columns)

In [ ]:
df_mice.isna().any(axis=1).sum()

Defition & Test of Function

In [10]:
#Definition of Function
def miceimputation(x): 
    imp = IterativeImputer(max_iter=10, verbose=2, imputation_order='roman', random_state=0)
    df_mice = pd.DataFrame(imp.fit_transform(x), columns=x.columns)
    return df_mice

In [6]:
#df_features 20 columns only
df_features_reduced = df_features.iloc[:,:20]
df_features_reduced

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,feature11,feature12,feature13,feature14,feature15,feature16,feature17,feature18,feature19,feature20
0,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,0.0162,-0.0034,0.9455,202.4396,0.0,7.9558,414.8710,10.0433,0.9680,192.3963,12.5190
1,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,-0.0005,-0.0148,0.9627,200.5470,0.0,10.1548,414.7347,9.2599,0.9701,191.2872,12.4608
2,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.4436,0.0041,0.0013,0.9615,202.0179,0.0,9.5157,416.7075,9.3144,0.9674,192.7035,12.5404
3,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,1.4882,-0.0124,-0.0033,0.9629,201.8482,0.0,9.6052,422.2894,9.6924,0.9687,192.1557,12.4782
4,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,1.5031,-0.0031,-0.0072,0.9569,201.9424,0.0,10.5661,420.5925,10.3387,0.9735,191.6037,12.4735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,2899.41,2464.36,2179.7333,3085.3781,1.4843,100.0,82.2467,0.1248,1.3424,-0.0045,-0.0057,0.9579,203.9867,0.0,11.7692,419.3404,10.2397,0.9693,193.7470,12.5373
1563,3052.31,2522.55,2198.5667,1124.6595,0.8763,100.0,98.4689,0.1205,1.4333,-0.0061,-0.0093,0.9618,204.0173,0.0,9.1620,405.8178,10.2285,0.9696,193.7889,12.4020
1564,2978.81,2379.78,2206.3000,1110.4967,0.8236,100.0,99.4122,0.1208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.4555
1565,2894.92,2532.01,2177.0333,1183.7287,1.5726,100.0,98.7978,0.1213,1.4622,-0.0072,0.0032,0.9694,197.2448,0.0,9.7354,401.9153,9.8630,0.9740,187.3818,12.3937
1566,2944.92,2450.76,2195.4444,2914.1792,1.5978,100.0,85.1011,0.1235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.4790

In [7]:
#Number of Rows with Missing Values BEFORE MICE Imputation
df_features_reduced.isna().any(axis=1).sum()

43

In [11]:
#Test of function 
df_test_function = miceimputation(df_features_reduced)
df_test_function.isna().any(axis=1).sum()

[IterativeImputer] Completing matrix with shape (1567, 20)
[IterativeImputer] Ending imputation round 1/10, elapsed time 0.15
[IterativeImputer] Change: 55.6462080116301, scaled tolerance: 3.7150417000000004
[IterativeImputer] Ending imputation round 2/10, elapsed time 0.29
[IterativeImputer] Change: 25.965369154019726, scaled tolerance: 3.7150417000000004
[IterativeImputer] Ending imputation round 3/10, elapsed time 0.45
[IterativeImputer] Change: 13.33176145131631, scaled tolerance: 3.7150417000000004
[IterativeImputer] Ending imputation round 4/10, elapsed time 0.60
[IterativeImputer] Change: 6.782607794626799, scaled tolerance: 3.7150417000000004
[IterativeImputer] Ending imputation round 5/10, elapsed time 0.73
[IterativeImputer] Change: 3.4432080252511525, scaled tolerance: 3.7150417000000004
[IterativeImputer] Early stopping criterion reached.

0

Test of Function with a completely different Data Set

In [11]:
#Read the Data
df_test = pd.read_csv('testdata.csv')
df_test =  df_test[['Age', 'Fare', 'Pclass']]
df_test.head()

    Age     Fare  Pclass
0  22.0   7.2500       3
1  38.0  71.2833       1
2  26.0   7.9250       3
3  35.0  53.1000       1
4  35.0   8.0500       3

In [12]:
#Number of Rows with missing Values BEFORE MICE Imputation
df_test.isna().any(axis=1).sum()

177

In [13]:
#Mice Imputation 
df_test_mice = miceimputation(df_test)
df_test_mice.isna().any(axis=1).sum()

0