In [34]:
import pandas as pd 
import numpy as np 
from sklearn.impute import KNNImputer
import matplotlib.pyplot as plt 
from sklearn.preprocessing import MinMaxScaler
from scipy import stats
import matplotlib.pyplot as plt

In [4]:
#Reading the data 
#df features 
df_features = pd.read_csv('/Users/arasdirekoglu/Documents/Github/Fault-Detection-SECOM-2/secom.data', delimiter=' ', header=None, na_values=['NaN'])
df_features.columns = ['feature'+str(x+1) for x in range(len(df_features.columns))] 

#df target 
df_target = pd.read_csv('/Users/arasdirekoglu/Documents/Github/Fault-Detection-SECOM-2/secom_labels.data', delimiter= ' ', header=None, na_values={'NaN'})
df_target.columns = ['status', 'timestamp']
df_target['timestamp'] = pd.to_datetime(df_target['timestamp'], dayfirst=True)

#concat both to df
df_secom  = pd.concat([df_features, df_target], axis=1)

In [36]:
df_features.feature32.describe()

count    1565.000000
mean        3.673189
std         0.535322
min         2.069800
25%         3.362700
50%         3.431000
75%         3.531300
max         4.804400
Name: feature32, dtype: float64

1. Outlier Detection

In [33]:
q1 = df_features.quantile(0.25)
q3 = df_features.quantile(0.75)
iqr = q3 - q1 
df_features_outliers_number =pd.DataFrame(((df_features < ( q1 - 1.5 * iqr)) | (df_features > q3 + 1.5 * iqr)).sum()).rename(columns={0:'Number of Outliers'})
df_features_outliers_perc = pd.DataFrame(((df_features < ( q1 - 1.5 * iqr)) | (df_features > q3 + 1.5 * iqr)).sum()/df_features.shape[0]).rename(columns={0:'%Outliers'}) 
df_features_outliers =pd.concat([df_features_outliers_number, df_features_outliers_perc], axis = 1)
df_features_outliers = df_features_outliers[df_features_outliers['Number of Outliers']>0].sort_values('%Outliers', ascending=False)
df_features_outliers

            Number of Outliers  %Outliers
feature32                  354   0.225909
feature41                  330   0.210593
feature545                 239   0.152521
feature130                 238   0.151883
feature313                 234   0.149330
...                        ...        ...
feature441                   1   0.000638
feature446                   1   0.000638
feature75                    1   0.000638
feature479                   1   0.000638
feature207                   1   0.000638

[452 rows x 2 columns]

In [38]:
outlier_df3= df_features[(np.abs(stats.zscore(df_features[col])) > 3)]
outlier_df3

Empty DataFrame
Columns: [feature1, feature2, feature3, feature4, feature5, feature6, feature7, feature8, feature9, feature10, feature11, feature12, feature13, feature14, feature15, feature16, feature17, feature18, feature19, feature20, feature21, feature22, feature23, feature24, feature25, feature26, feature27, feature28, feature29, feature30, feature31, feature32, feature33, feature34, feature35, feature36, feature37, feature38, feature39, feature40, feature41, feature42, feature43, feature44, feature45, feature46, feature47, feature48, feature49, feature50, feature51, feature52, feature53, feature54, feature55, feature56, feature57, feature58, feature59, feature60, feature61, feature62, feature63, feature64, feature65, feature66, feature67, feature68, feature69, feature70, feature71, feature72, feature73, feature74, feature75, feature76, feature77, feature78, feature79, feature80, feature81, feature82, feature83, feature84, feature85, feature86, feature87, feature88, feature89, feature90, feature91, feature92, feature93, feature94, feature95, feature96, feature97, feature98, feature99, feature100, ...]
Index: []

[0 rows x 590 columns]

In [13]:
for col in df_features.columns:
     outlier_df3= df_features[(np.abs(stats.zscore(df_features[col])) > 3)]
     outlier_df2= df_features[(np.abs(stats.zscore(df_features[col])) > 2)]
     count_3s_perc=len(outlier_df3)*100/len(df_features)
     count_2s_perc=(len(outlier_df2)-len(outlier_df3))*100/len(df_features)

In [15]:
count_3s_perc

0.0

In [ ]:
        ll_col = df[col].mean() - 3 * df[col].std()
        ul_col = df[col].mean() + 3 * df[col].std()
        df[col] = np.where(df[col]>ul_col,np.NaN,np.where(df[col]<ll_col,np.NaN,df[col]))

In [11]:
for col in df_features.columns:
    outlier_df3 = df_features[(np.abs(stats.zscore(df_features[col])) > 2)]

In [ ]:
for col in df_features.columns:
     outlier_df3= df_features[(np.abs(stats.zscore(df_features[col])) > 3)]
     outlier_df2= df_features[(np.abs(stats.zscore(df_features[col])) > 2)]
     count_3s_perc=len(outlier_df3)*100/len(df_features)
     count_2s_perc=(len(outlier_df2)-len(outlier_df3))*100/len(df_features)