<a href="https://colab.research.google.com/github/hinatanvir/Fault-Detection-SECOM/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import os

In [2]:
path1='https://raw.githubusercontent.com/hinatanvir/Fault-Detection-SECOM/main/secom.data?token=GHSAT0AAAAAABTMJQPCMEYJ4LIGT2V6TRG2YSS5ZWA'

In [3]:
data = pd.read_csv(path1,delimiter=' ',header=None)

In [4]:
path2='https://raw.githubusercontent.com/hinatanvir/Fault-Detection-SECOM/main/secom_labels.data?token=GHSAT0AAAAAABTMJQPCJP4OZMM573LK4Q7UYSS562A'

In [5]:
label=pd.read_csv(path2,delimiter=' ',header=None)

In [6]:
data.columns = ['feature'+str(x+1) for x in range(len(data.columns))]

In [7]:
label.columns=['status','timestamp']

In [8]:
#converting timestamp to datetime format, dayfirst=True arg ensures days and month dont switch 
#for dates lesser than 13 
label['timestamp']=pd.to_datetime(label['timestamp'],dayfirst=True)

In [42]:
# test
df = pd.DataFrame({'X': [1, 2, 10, 4, None,10000],
                   'Y': [5, 3, 4, 2, 9,100000000],
                   'Z': [2, 7, 11, 4, 4, None]})

In [49]:
from google.colab import files
uploaded = files.upload()
#excel='Book1.xlsx'
#df_test=pd.read_excel(excel)

Saving Book1.xlsx to Book1.xlsx

In [53]:
df_test=pd.read_excel('Book1.xlsx')

In [54]:
df_test

      ID  Size   Price  SQM Price
0      1  52.5  266.70   5.080000
1      2  40.2  228.34   5.680100
2      3  45.0  261.00   5.800000
3      4  48.8  296.70   6.079918
4      5  49.7  303.18   6.100201
..   ...   ...     ...        ...
495  496  65.2  933.66  14.319939
496  497  58.3  840.68  14.419897
497  498  65.9  981.92  14.900152
498  499  66.5  994.84  14.960000
499  500  56.7  935.56  16.500176

[500 rows x 4 columns]

In [10]:
percent_null= pd.isnull(df['X']).sum()/len(df['X'])*100
unique=len(pd.unique(df['X']))

In [35]:
outliers=[]
def test_outlier(data_1,threshold):
    
    
    mean_1 = np.mean(data_1)
    std_1 =np.std(data_1)
    
    
    for y in data_1:
        z_score= (y - mean_1)/std_1 
        if np.abs(z_score) > threshold:
            outliers.append(y)
    return outliers

In [30]:
def outliers(df, level):

    # 1. temporary dataframe
    df = df1.copy(deep = True)

    # 2. Select a level for a Z-score to identify and remove outliers
    df_Z = df[(np.abs(stats.zscore(df)) < level).all(axis=1)]
    ix_keep = df_Z.index

    # 3. Subset the raw dataframe with the indexes you'd like to keep
    df_keep = df.loc[ix_keep]

    return(df_keep)

# remove outliers
level = 1.2
print("df_clean = outliers(df = df1, level = " + str(level)+')')
df_clean = outliers(df = df1, level = level)

def outliers(df_col, level):

    # 1. temporary dataframe
    df_copy = df_col.copy(deep = True)

    # 2. Select a level for a Z-score to identify outliers
    df_Z = df_copy[(np.abs(stats.zscore(df_copy)) > level).all(axis=0)]
    ix_out = df_Z.index

    # 3. Subset the raw dataframe with the indexes of outliers
    df_out = df_copy.loc[ix_out]
    count= len(df_keep)

    return(count)

In [55]:
check={}
for col in df_test.columns:
    mean=df_test[col].mean()
    std= df_test[col].std()
    percent_null= pd.isnull(df_test[col]).sum()/len(df_test[col])*100
    unique=len(pd.unique(df_test[col]))
    outlier_df3= df_test[(np.abs(stats.zscore(df_test[col])) > 3)]
    outlier_df2= df_test[(np.abs(stats.zscore(df_test[col])) > 2)]
    count_3s=len(outlier_df3)
    count_2s=len(outlier_df2)
    list = []
    list.append(mean)
    list.append(std)
    list.append(percent_null)
    list.append(unique)
    list.append(count_3s)
    list.append(count_2s)
    check[col] = list

In [56]:
check
pd.DataFrame.from_dict(check,orient='index')

                    0           1    2    3  4   5
ID         250.500000  144.481833  0.0  500  0   0
Size        59.371200   11.162660  0.0  281  0   0
Price      617.513760  149.485485  0.0  497  2  27
SQM Price   10.420012    1.696637  0.0  468  2  23

In [14]:
#goal: go through each columns for their stats
#step 1: create a dict

result = {}

In [ ]:
for col in data.columns:
    mean = data[col].mean()
    median=data[col].median()
    mode=data[col].mode()
    std = data[col].std()
    p25 = data[col].quantile(0.25)
    p75 = data[col].quantile(0.75)
    #missing value percent
    na_percent= 
    

    list = []
    list.append(std)
    list.append(mean)
    result[col] = list

In [ ]:
#goal: go through each columns for their stats
#step 1: create a dict

result = {}

print(df['feature1'].std())


for col in df_data.columns:
    std = df_data[col].std()
    mean = df_data[col].mean()
    list = []
    list.append(std)
    list.append(mean)
    result[col] = list


#step 2: convert dict into df
df_EDA = pd.DataFrame.from_dict(result,orient='index')

df_EDA.columns = ['std','mean']

print(df_EDA.head())