<a href="https://colab.research.google.com/github/hinatanvir/Fault-Detection-SECOM/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [108]:
import pandas as pd
import numpy as np
from scipy import stats

In [ ]:
def

In [ ]:
path1='https://raw.githubusercontent.com/hinatanvir/Fault-Detection-SECOM/main/secom.data?token=GHSAT0AAAAAABTMJQPCMEYJ4LIGT2V6TRG2YSS5ZWA'

In [4]:
data = pd.read_csv(path1,delimiter=' ',header=None)

In [6]:
path2='https://raw.githubusercontent.com/hinatanvir/Fault-Detection-SECOM/main/secom_labels.data?token=GHSAT0AAAAAABTMJQPCJP4OZMM573LK4Q7UYSS562A'

In [7]:
label=pd.read_csv(path2,delimiter=' ',header=None)

In [9]:
data.columns = ['feature'+str(x+1) for x in range(len(data.columns))]

In [12]:
label.columns=['status','timestamp']

In [13]:
#converting timestamp to datetime format, dayfirst=True arg ensures days and month dont switch 
#for dates lesser than 13 
label['timestamp']=pd.to_datetime(label['timestamp'],dayfirst=True)

In [114]:
# test
df = pd.DataFrame({'X': [1, 2, 10, 4, 10000],
                   'Y': [5, 3, 4, 2, 9],
                   'Z': [2, 7, 11, 10, 4]})

In [61]:
percent_null= pd.isnull(df['X']).sum()/len(df['X'])*100
unique=len(pd.unique(df['X']))

In [117]:
df[(np.abs(stats.zscore(df['Y']))  3)]

Empty DataFrame
Columns: [X, Y, Z]
Index: []

In [134]:
def detect_outlier(column,m,s):
  high3s = m + 3*s
  low3s = m - 3*s
  #count_3s = df[df[column] > high3s | df[column] < low3s]
  return high3s,low3s

In [137]:
for col in df.columns: 
     mean=df[col].mean()
     std=df[col].std()
     detect_outlier(col,mean,std)

In [58]:
unique

4

In [63]:
check={}
for col in df.columns:
    mean=df[col].mean()
    percent_null= pd.isnull(df[col]).sum()/len(df[col])*100
    unique=len(pd.unique(df['X']))
    list = []
    list.append(percent_null)
    list.append(mean)
    list.append(unique)
    check[col] = list

In [64]:
check
pd.DataFrame.from_dict(check,orient='index')

      0     1  2
X  20.0  5.75  4
Y   0.0  4.60  4
Z   0.0  6.80  4

In [14]:
#goal: go through each columns for their stats
#step 1: create a dict

result = {}

In [ ]:
for col in data.columns:
    mean = data[col].mean()
    median=data[col].median()
    mode=data[col].mode()
    std = data[col].std()
    p25 = data[col].quantile(0.25)
    p75 = data[col].quantile(0.75)
    #missing value percent
    na_percent= 
    

    list = []
    list.append(std)
    list.append(mean)
    result[col] = list

In [ ]:
#goal: go through each columns for their stats
#step 1: create a dict

result = {}

print(df['feature1'].std())


for col in df_data.columns:
    std = df_data[col].std()
    mean = df_data[col].mean()
    list = []
    list.append(std)
    list.append(mean)
    result[col] = list


#step 2: convert dict into df
df_EDA = pd.DataFrame.from_dict(result,orient='index')

df_EDA.columns = ['std','mean']

print(df_EDA.head())