<a href="https://colab.research.google.com/github/hinatanvir/Fault-Detection-SECOM/blob/main/Fault_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
path1='https://raw.githubusercontent.com/hinatanvir/Fault-Detection-SECOM/main/secom.data?token=GHSAT0AAAAAABTMJQPCMEYJ4LIGT2V6TRG2YSS5ZWA'

In [4]:
data = pd.read_csv(path1,delimiter=' ',header=None)

In [ ]:
data

In [5]:
path2='https://raw.githubusercontent.com/hinatanvir/Fault-Detection-SECOM/main/secom_labels.data?token=GHSAT0AAAAAABTMJQPCJP4OZMM573LK4Q7UYSS562A'

In [6]:
label=pd.read_csv(path2,delimiter=' ',header=None)

In [ ]:
label

In [8]:
data.columns = ['feature'+str(x+1) for x in range(len(data.columns))]

In [9]:
label.columns=['status','timestamp']

In [10]:
#converting timestamp to datetime format, dayfirst=True arg ensures days and month dont switch 
#for dates lesser than 13 
label['timestamp']=pd.to_datetime(label['timestamp'],dayfirst=True)

In [ ]:
#check format of dates for lesser than 13 
mask = (label['timestamp'] > '2008-08-11 00:00:00') & (label['timestamp'] <= '2008-08-16 00:00:00')
filtered_df=label.loc[mask]
print(filtered_df)

In [12]:
merge_data= pd.concat([data,label],axis=1)

In [ ]:
merge_data

In [ ]:
#count null values accross a dataframe
merge_data.isna().sum().sum() # 41951

41951

In [ ]:
#counting null values across the rows 
#df.loc[[index value]].isna().sum().sum()

In [ ]:
merge_data.isnull().sum(axis=0)

In [15]:
#percentage of missing values in each column
percent_missing = merge_data.isnull().sum() * 100 / len(merge_data)
missing_value_df = pd.DataFrame({'column_name': merge_data.columns,
                                 'percent_missing': percent_missing})

In [ ]:
missing_value_df[missing_value_df['percent_missing']>=55] # 24 columns containing missing values greater than 55%

In [17]:
#delete the columns with missing values greater than 55%
perc = 55.0
min_count =  int(((100-perc)/100)*merge_data.shape[0] + 1)
merge_data_1 = merge_data.dropna( axis=1, 
                thresh=min_count)

In [33]:
merge_data_1

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature583,feature584,feature585,feature586,feature587,feature588,feature589,feature590,status,timestamp
0,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,0.0162,...,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN,-1,2008-07-19 11:55:00
1,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,-0.0005,...,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045,-1,2008-07-19 12:32:00
2,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.4436,0.0041,...,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602,1,2008-07-19 13:17:00
3,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,1.4882,-0.0124,...,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432,-1,2008-07-19 14:43:00
4,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,1.5031,-0.0031,...,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432,-1,2008-07-19 15:22:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,2899.41,2464.36,2179.7333,3085.3781,1.4843,100.0,82.2467,0.1248,1.3424,-0.0045,...,0.4988,0.0143,0.0039,2.8669,0.0068,0.0138,0.0047,203.1720,-1,2008-10-16 15:13:00
1563,3052.31,2522.55,2198.5667,1124.6595,0.8763,100.0,98.4689,0.1205,1.4333,-0.0061,...,0.4975,0.0131,0.0036,2.6238,0.0068,0.0138,0.0047,203.1720,-1,2008-10-16 20:49:00
1564,2978.81,2379.78,2206.3000,1110.4967,0.8236,100.0,99.4122,0.1208,NaN,NaN,...,0.4987,0.0153,0.0041,3.0590,0.0197,0.0086,0.0025,43.5231,-1,2008-10-17 05:26:00
1565,2894.92,2532.01,2177.0333,1183.7287,1.5726,100.0,98.7978,0.1213,1.4622,-0.0072,...,0.5004,0.0178,0.0038,3.5662,0.0262,0.0245,0.0075,93.4941,-1,2008-10-17 06:01:00
1566,2944.92,2450.76,2195.4444,2914.1792,1.5978,100.0,85.1011,0.1235,NaN,NaN,...,0.4987,0.0181,0.0040,3.6275,0.0117,0.0162,0.0045,137.7844,-1,2008-10-17 06:07:00

In [23]:
#checking volatility of columns 
#len(merge_data_1['timestamp'].unique())
merge_data_1.columns[merge_data_1.nunique() <= 1]

Index(['feature6', 'feature14', 'feature43', 'feature50', 'feature53',
       'feature70', 'feature98', 'feature142', 'feature150', 'feature179',
       ...
       'feature530', 'feature531', 'feature532', 'feature533', 'feature534',
       'feature535', 'feature536', 'feature537', 'feature538', 'feature539'],
      dtype='object', length=116)

In [30]:
#merge_data_1[merge_data_1.iloc[0].any()]
 #df.loc[:, (df != df.iloc[0]).any()] 
test = merge_data_1.copy()

In [31]:
#test data remove the columns 
test_1 = test.loc[:, (test != test.iloc[0]).any()]

In [35]:
test_1.columns[test.nunique() <= 1]

Index(['feature6', 'feature14', 'feature43', 'feature50', 'feature53',
       'feature70', 'feature98', 'feature142', 'feature150', 'feature179',
       ...
       'feature530', 'feature531', 'feature532', 'feature533', 'feature534',
       'feature535', 'feature536', 'feature537', 'feature538', 'feature539'],
      dtype='object', length=116)